<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="../styles/index.css">
  <link href='https://fonts.googleapis.com/css?family=Covered+By+Your+Grace' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Alegreya+Sans' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mad Libs with Pictures</title>
</head>
<body>
  <h2>Start a New Mad Lib</h2>
  <div id="options">
  <% if (data[i].title == "pirate") { %>
    <div class="opt">
      <a href="/pirate/new">Talk Like a Pirate</a>
    </div>
  <% } else if (data[i].title == "date") { %>
    <div class="opt">
      <a href="/date/new">How to Date The Coolest Guy/Girl in School</a>
    </div>
  <% } else if (data[i].title == "study") { %>
    <div class="opt">
      <a href="/study/new">How to Study</a>
    </div>
  <% } else if (data[i].title == "dentist") { %>
    <div class="opt">
      <a href="/dentist/new">A Visit to the Dentist</a>
    </div>
  <% } %>
  </div>
  
  <hr>
  <div id="existing">
  <h3>Previously Created Mad Libs</h3>
  <% for(var i=0;i<data.length;i++) { %>
    <% if (data[i].title == "pirate") { %>
      <li><img class="icon" src="http://bestwindows8apps.s3.amazonaws.com/icons/Icon.266738.png"><a href="/pirate/<%= data[i]._id %>"><%= data[i].date_stamp.getMonth() %>/<%= data[i].date_stamp.getDate() %>/<%= data[i].date_stamp.getFullYear() %>, <%= data[i].date_stamp.getHours() %>:<%= data[i].date_stamp.getMinutes() %></a></li>
    <% } else if (data[i].title == "date") { %>
      <li><img class="icon" src="http://bestwindows8apps.s3.amazonaws.com/icons/Icon.266738.png"><a href="/date/<%= data[i]._id %>" ><%= data[i].date_stamp.getMonth() %>/<%= data[i].date_stamp.getDate() %>/<%= data[i].date_stamp.getFullYear() %>, <%= data[i].date_stamp.getHours() %>:<%= data[i].date_stamp.getMinutes() %></a></li>
    <% } else if (data[i].title == "study") { %>
      <li><img class="icon" src="http://bestwindows8apps.s3.amazonaws.com/icons/Icon.266738.png"><a href="/study/<%= data[i]._id %>" ><%= data[i].date_stamp.getMonth() %>/<%= data[i].date_stamp.getDate() %>/<%= data[i].date_stamp.getFullYear() %>, <%= data[i].date_stamp.getHours() %>:<%= data[i].date_stamp.getMinutes() %></a></li>
    <% } else if (data[i].title == "dentist") { %>
      <li><img class="icon" src="http://bestwindows8apps.s3.amazonaws.com/icons/Icon.266738.png"><a href="/dentist/<%= data[i]._id %>" ><%= data[i].date_stamp.getMonth() %>/<%= data[i].date_stamp.getDate() %>/<%= data[i].date_stamp.getFullYear() %>, <%= data[i].date_stamp.getHours() %>:<%= data[i].date_stamp.getMinutes() %></a></li>
    <% } %>
  <% } %>
  </div>
  <br>
  <% include partials/footer.ejs %>
</body>
</html>